#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:white;
}

body {
  width: 100%;
  background-image: url("./assets/lluvia.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

form {
  height: 150px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(106, 106, 101);
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  box-shadow: -1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);

}

article {
  border-radius: 4px;
  color:black;
  background-color: rgb(155, 155, 205);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);
}


input {
  color: rgb(64, 145, 48);
  width: 80%;
  height: 30px;
  border-radius: 8px;
}



h3 {
  width: 80%;
  margin-left: 40px;
  color: aliceblue;
  background-color: #888;
  box-shadow: -1px -1px 6px 0 rgb(122, 221, 102), 4px 4px 16px 2px rgb(92, 162, 235);

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
